* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans Regular", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#workspaces button {
    padding: 0 9px;
    color: white;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.12);
    border-bottom: 2px solid white;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.12);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #disk, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 9px;
}
